---
name: Project Verification
about: Use this template for project verification requests.
title: Project [VERSION] Verification
labels: verification
assignees: oliviakumar

---

Please verify my project. The required information is below:

  - **Name:** [FULLNAME]
  - **Release:** [RELEASE]

#### Functionality Grade

  - [ ] I need my functionality grade updated on Canvas.

#### Verification 

I verify that the following is true:

  - [ ] I created a properly named project release.
  - [ ] I tested this release by running the `project` script on the lab computers.
  - [ ] I verified the issue title is correct.
  - [ ] I verified the issue is properly assigned.
  - [ ] I verified this issue has the "verification" label.
  - [ ] I verified this issue has the correct project label.


----

*To the issue creator: fill in the missing information indicated [LIKE THIS] above and [check the checkboxes](https://help.github.com/articles/about-task-lists/) that apply. Your functionality grade will not be updated unless you check the appropriate box. See the [project guides](https://usf-cs212-spring2019.github.io/guides/projects/) for more details.*
